html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background: url("/public/fondoocho.jpeg") no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: "Open Sans Light", sans-serif;
}
button:hover {
  background-color: #3b0000;
}
.class-button:hover {
  background-color: #3b0000;
}
.class-button {
  padding: 20px 30px;
  font-size: 18px;
  background-color: #000000;
  color: white;
  border: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Reduce la distancia entre los botones */
  padding: 20px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  border-radius: 5px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  border-radius: 5px;
}
.class-button.selected {
  background-color: #3b0000; /* Color para el botón seleccionado */
  color: white; /* Color del texto para el botón seleccionado */
}

.container {
  width: 90%; /* Ajusta el ancho del contenedor principal */
  max-width: 900px; /* Ajusta el ancho máximo si es necesario */
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fondo blanco semitransparente */
  border-radius: 10px;
  margin: 20px auto; /* Centra el contenedor en la página */
}

.contact-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #000000;
  resize: none; /* Evitar la redimensión del área de texto */
  border-radius: 5px;
}

.full-width-image {
  width: 100%;
  height: auto;
  display: block;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.fieldsets-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px; /* Ajusta la distancia entre los fieldsets */
  padding: 20px;
  width: 100%;
  border-radius: 5px;
}

fieldset {
  margin: 10px;
  padding: 10px;
  width: fit-content;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1,
h2,
h3 {
  font-family: "Roboto Thin", sans-serif; /* Cambia la fuente de los encabezados */
}

p {
  font-family: "Open Sans Light", sans-serif; /* Cambia la fuente de los párrafos */
}
h1,
h2 {
  text-align: center;
}

h3 {
  text-align: justify;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.footer-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: rigth;
  text-align: right;
}

.footer-icons .icon {
  display: flex;
  align-items: center;
  justify-content: rigth;
}

.footer-icons .icon img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.icon {
  display: flex;
}

.icon img {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
}
.inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Ajusta la distancia entre los inputs */
  padding: 20px;
  width: 100%;
  border-radius: 5px;
}

.inputs-container input,
.inputs-container select {
  flex: 1 1 calc(33.33% - 20px); /* Tres columnas, resta el gap para mantener la distancia */
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.input-container {
  width: 100%;
  margin-bottom: 20px; /* Espacio entre los input y la tabla */
  border-radius: 5px;
}

legend {
  font-weight: bold;
  border-radius: 5px;
}

label {
  display: block;
  margin: 5px 0;
  border-radius: 5px;
}
.payment-table {
  margin-bottom: 20px;
  border-radius: 5px;
}

.payment-table table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  font-size: 16px;
  border-radius: 5px;
}

.payment-table th,
.payment-table td {
  border: 1px solid #692626;
  padding: 8px;
  text-align: left;
  font-size: 16px;
  border-radius: 5px;
}

.payment-table th {
  background-color: #f2f2f2;
  font-size: 16px;
  border-radius: 5px;
}

.payment-table input,
.payment-table select {
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
}
